<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Accounts</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
	<header>
		<nav class="bg-secondary navbar-center">
			<ul class="tab tab-block">
				<li class="tab-item active">
					<a class="text-primary" th:href="@{/accounts}">Accounts</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/transactions}">Transactions</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/employees}">Employees</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/customers}">Customers</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/products}">Products</a>
				</li>
			</ul>
		</nav>
	</header>
	<div id="accounts">
		<div>
			<h1 class="title_header">All Accounts</h1>
		</div>
		<div>
			<a class="btn" th:href="@{/accounts/new}">Create New Account</a>
		</div>
		<div>
			<table>
				<thead>
					<tr class="text-center">
						<th>Account ID</th>
						<th>Available Balance</th>
						<th>Pending Balance</th>
						<th>Open Date</th>
						<th>Last Activity Date</th>
						<th>Customer ID</th>
						<th>Branch name</th>
						<th>Employee ID</th>
						<th>Product</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="account: ${accounts}">
						<td class="text-center" th:text="${account.id}"></td>
						<td class="text-center" th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</td>
						<td class="text-center" th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></td>
						<td class="text-center" th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></td>
						<td class="text-center" th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></td>
						<td class="text-center" th:text="${account.customer.id}"></td>
						<td class="text-center" th:text="${account.branch.name}"></td>
						<td class="text-center" th:text="${account.employee.id}"></td>
						<td class="text-center" th:text="${account.product.name}"></td>
						<td>
							<div>
								<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
								<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>