<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Accounts</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
	<header>
		<nav class="bg-secondary navbar-center">
			<ul class="tab tab-block">
				<li class="tab-item active">
					<a class="text-primary" th:href="@{/accounts}">Accounts</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/transactions}">Transactions</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/employees}">Employees</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/customers}">Customers</a>
				</li>
				<li class="tab-item">
					<a class="text-primary" th:href="@{/products}">Products</a>
				</li>
			</ul>
		</nav>
	</header>
	<div>
		<h1 class="text-center">Accounts</h1>
	</div>
	<div>
		<a class="btn" th:href="@{/accounts/new}">Create New Account</a>
	</div>
	<div class="filter">
		<input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-4" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-5" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-6" class="filter-tag" name="filter-radio" hidden>

		<div class="filter-nav">
			<label class="chip" for="tag-2">Certificate of Deposit</label>
			<label class="chip" for="tag-3">Checking Account</label>
			<label class="chip" for="tag-4">Money Market Account</label>
			<label class="chip" for="tag-5">Savings Account</label>
			<label class="chip" for="tag-6">Small Business Loan</label>
		</div>

		<div class="filter-body" th:each="account: ${accounts}">
			<div class="filter-item tile" data-tag="tag-1" th:if="${account.product.id} eq '2'">
				<div class="tile-content">
					<p class="tile-title text-bold" th:text="${account.id}">Account ID</p>
					<p class="tile-subtitle text-gray" th:text="'Customer ID: ' + ${account.customer.id}">Customer
						ID
					</p>
					<p>
						<span th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</span>
						<span th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></span>
						<span th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${account.branch.name}"></span>
						<span th:text="${account.employee.id}"></span>
						<span th:text="${account.product.name}"></span>
					</p>
				</div>
				<div class="tile-action">
					<div class="btn-group">
						<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
						<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
					</div>
				</div>
			</div>
			<div class="filter-item tile" data-tag="tag-2" th:if="${account.product.id} eq '3'">
				<div class="tile-content">
					<p class="tile-title text-bold" th:text="${account.id}">Account ID</p>
					<p class="tile-subtitle text-gray" th:text="'Customer ID: ' + ${account.customer.id}">Customer
						ID
					</p>
					<p>
						<span th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</span>
						<span th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></span>
						<span th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${account.branch.name}"></span>
						<span th:text="${account.employee.id}"></span>
						<span th:text="${account.product.name}"></span>
					</p>
				</div>
				<div class="tile-action">
					<div class="btn-group">
						<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
						<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
					</div>
				</div>
			</div>
			<div class="filter-item tile" data-tag="tag-3" th:if="${account.product.id} eq '4'">
				<div class="tile-content">
					<p class="tile-title text-bold" th:text="${account.id}">Account ID</p>
					<p class="tile-subtitle text-gray" th:text="'Customer ID: ' + ${account.customer.id}">Customer
						ID
					</p>
					<p>
						<span th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</span>
						<span th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></span>
						<span th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${account.branch.name}"></span>
						<span th:text="${account.employee.id}"></span>
						<span th:text="${account.product.name}"></span>
					</p>
				</div>
				<div class="tile-action">
					<div class="btn-group">
						<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
						<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
					</div>
				</div>
			</div>
			<div class="filter-item tile" data-tag="tag-4" th:if="${account.product.id} eq '5'">
				<div class="tile-content">
					<p class="tile-title text-bold" th:text="${account.id}">Account ID</p>
					<p class="tile-subtitle text-gray" th:text="'Customer ID: ' + ${account.customer.id}">Customer
						ID
					</p>
					<p>
						<span th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</span>
						<span th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></span>
						<span th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${account.branch.name}"></span>
						<span th:text="${account.employee.id}"></span>
						<span th:text="${account.product.name}"></span>
					</p>
				</div>
				<div class="tile-action">
					<div class="btn-group">
						<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
						<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
					</div>
				</div>
			</div>
			<div class="filter-item tile" data-tag="tag-5" th:if="${account.product.id} eq '7'">
				<div class="tile-content">
					<p class="tile-title text-bold" th:text="${account.id}">Account ID</p>
					<p class="tile-subtitle text-gray" th:text="'Customer ID: ' + ${account.customer.id}">Customer
						ID
					</p>
					<p>
						<span th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</span>
						<span th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></span>
						<span th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${account.branch.name}"></span>
						<span th:text="${account.employee.id}"></span>
						<span th:text="${account.product.name}"></span>
					</p>
				</div>
				<div class="tile-action">
					<div class="btn-group">
						<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
						<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
					</div>
				</div>
			</div>
			<div class="filter-item tile" data-tag="tag-6" th:if="${account.product.id} eq '8'">
				<div class="tile-content">
					<p class="tile-title text-bold" th:text="${account.id}">Account ID</p>
					<p class="tile-subtitle text-gray" th:text="'Customer ID: ' + ${account.customer.id}">Customer
						ID
					</p>
					<p>
						<span th:text="${#numbers.formatDecimal(account.availableBalance, 1, 2)}">
						</span>
						<span th:text="${#numbers.formatDecimal(account.pendingBalance, 1, 2)}"></span>
						<span th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></span>
						<span th:text="${account.branch.name}"></span>
						<span th:text="${account.employee.id}"></span>
						<span th:text="${account.product.name}"></span>
					</p>
				</div>
				<div class="tile-action">
					<div class="btn-group">
						<a class="btn" th:href="@{/accounts/update/{id}(id=${account.id})}">Update</a>
						<a class="btn btn-error" th:href="@{/accounts/{id}(id=${account.id})}">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>