<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>New Individual</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <header>
        <nav class="bg-secondary navbar-center">
            <ul class="tab tab-block">
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/accounts}">Accounts</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/transactions}">Transactions</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/employees}">Employees</a>
                </li>
                <li class="tab-item active">
                    <a class="text-primary" th:href="@{/customers}">Customers</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/products}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="new_individual">
        <form class="form-horizontal m-2 pt-3" th:action="@{/customers/individuals}" th:object="${individual}"
            method="POST">
            <h2 class="text-center">Create New Account</h2>
            <div class="divider"></div>
            <br>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="firstName">First name: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="firstName" name="firstName"
                        th:field="${individual.firstName}" placeholder="First Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="lastName">Last name: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="lastName" name="lastName"
                        th:field="${individual.lastName}" placeholder="Last Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="birthDate">Date of birth: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="date" id="birthDate" name="birthDate"
                        th:field="${individual.birthDate}" placeholder="MM/dd/yyyy">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="customer">Customer ID: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="number" id="customer" name="customer"
                        th:field="${individual.customer.id}" placeholder="Customer ID">
                </div>
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit">Create</button>
    </div>
</body>

</html>