<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>New Account</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
	</head>

	<body>
		<header>
			<nav class="bg-secondary navbar-center">
				<ul class="tab tab-block">
					<li class="tab-item">
						<a class="text-primary" th:href="@{/home}">Home</a>
					</li>
					<li class="tab-item active">
						<a class="text-primary" th:href="@{/accounts}">Accounts</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/transactions}">Transactions</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/employees}">Employees</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/customers}">Customers</a>
					</li>
					<li class="tab-item" sec:authorize="isAuthenticated()">
						<a class="text-primary" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</nav>
		</header>
		<div id="new_account">
			<form
				class="form-horizontal m-2 pt-3"
				th:action="@{/accounts}"
				th:object="${account}"
				method="POST">
				<h2 class="text-center">Create New Account</h2>
				<div class="divider"></div>
				<br />
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="availableBalance"
							>Available Balance:
						</label>
					</div>
					<div class="col-9 col-sm-12">
						<input
							class="form-input"
							type="number"
							id="availableBalance"
							name="availableBalance"
							th:field="${account.availableBalance}"
							placeholder="Available Balance" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="pendingBalance"
							>Pending Balance:</label
						>
					</div>
					<div class="col-9 col-sm-12">
						<input
							class="form-input"
							type="number"
							id="pending_balance"
							name="pending_balance"
							th:field="${account.pendingBalance}"
							placeholder="Pending Balance" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="status">Status:</label>
					</div>
					<div class="col-9 col-sm-12">
						<input
							class="form-input"
							type="text"
							id="status"
							name="status"
							th:field="${account.status}"
							placeholder="Status" />
					</div>
				</div>
				<div class="form-group">
					<div class="column col-3 col-sm-12">
						<label class="form-label" for="customer">Customer: </label>
					</div>
					<div class="column col-9 col-sm-12">
						<select
							class="form-select"
							title="customer"
							th:field="*{customer.id}"
							id="customer"
							name="customer">
							<option value="" selected>--Select Customer--</option>
							<option
								th:each="customer : ${customers}"
								th:value="${customer.id}"
								th:text="${customer.id}">
								Customer ID
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="branch">Branch:</label>
					</div>
					<div class="col-9 col-sm-12">
						<label class="form-radio">
							<input
								type="radio"
								name="branch"
								th:field="*{branch.id}"
								th:value="1" />
							<em class="form-icon"></em>Headquarters
						</label>
						<label class="form-radio">
							<input
								type="radio"
								name="branch"
								th:field="*{branch.id}"
								th:value="2" />
							<em class="form-icon"></em>Woburn
						</label>
						<label class="form-radio">
							<input
								type="radio"
								name="branch"
								th:field="*{branch.id}"
								th:value="3" />
							<em class="form-icon"></em>Quincy
						</label>
						<label class="form-radio">
							<input
								type="radio"
								name="branch"
								th:field="*{branch.id}"
								th:value="4" />
							<em class="form-icon"></em>South NH
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="column col-3 col-sm-12">
						<label class="form-label" for="employee">Employee: </label>
					</div>
					<div class="column col-9 col-sm-12">
						<select
							class="form-select"
							title="employee"
							th:field="*{employee.id}"
							id="employee"
							name="employee">
							<option value="" selected>--Select Employee--</option>
							<option
								th:each="employee : ${employees}"
								th:value="${employee.id}"
								th:text="${employee.id} + ': ' + ${employee.lastName} + ', ' + ${employee.firstName}">
								Employee ID
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="product">Product:</label>
					</div>
					<div class="col-9 col-sm-12">
						<select
							class="form-input"
							title="products"
							id="products"
							th:field="*{product.id}">
							<option value="" selected>--Select Product--</option>
							<option
								th:each="product : ${products}"
								th:value="${product.id}"
								th:text="${product.name} + ': ' + ${product.productType}">
								Product
							</option>
						</select>
					</div>
				</div>
				<br />
				<button class="btn btn-primary btn-block" type="submit">Create</button>
			</form>
		</div>
	</body>
</html>
