<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>New Customer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <header>
        <nav class="bg-secondary navbar-center">
            <ul class="tab tab-block">
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/accounts}">Accounts</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/transactions}">Transactions</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/employees}">Employees</a>
                </li>
                <li class="tab-item active">
                    <a class="text-primary" th:href="@{/customers}">Customers</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/products}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="new_customer">
        <form class="form-horizontal m-2 pt-3" th:action="@{/customers/save}" th:object="${customer}" method="POST">
            <h2 class="text-center">Create New Customer</h2>
            <div class="divider"></div>
            <br>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="address">Address: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="address" name="address" th:field="${customer.address}"
                        placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="city">City: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="city" name="city" th:field="${customer.city}"
                        placeholder="City">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="state">State: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="state" name="state" th:field="${customer.state}"
                        placeholder="State">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="zipCode">Zip Code: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="zipCode" name="zipCode" th:field="${customer.zipCode}"
                        placeholder="Zip Code">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="customerType">Customer Type: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="customerType" name="customerType"
                        th:field="${customer.customerType}" placeholder="I or B">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="fedId">Federal ID: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="fedId" name="fedId" th:field="${customer.fedId}"
                        placeholder="Federal ID">
                </div>
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit">Create</button>
    </div>
</body>

</html>