<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>New Customer</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
	</head>

	<body>
		<header>
			<nav class="bg-secondary navbar-center">
				<ul class="tab tab-block">
					<li class="tab-item">
						<a class="text-primary" th:href="@{/home}">Home</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/accounts}">Accounts</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/transactions}">Transactions</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/employees}">Employees</a>
					</li>
					<li class="tab-item active">
						<a class="text-primary" th:href="@{/customers}">Customers</a>
					</li>
					<li class="tab-item" sec:authorize="isAuthenticated()">
						<a class="text-primary" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</nav>
		</header>
		<ul class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/customers/new}">Create Customer</a>
			</li>
		</ul>
		<div id="new_customer">
			<form
				class="form-horizontal m-2 pt-3"
				th:action="@{/customers/save}"
				th:object="${customer}"
				method="POST">
				<h2 class="text-center">Create New Customer</h2>
				<div class="divider"></div>
				<br />
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="firstName">First Name: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="text"
								id="firstName"
								th:field="*{firstName}"
								placeholder="First Name" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="lastName">Last Name: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="text"
								id="lastName"
								th:field="*{lastName}"
								placeholder="Last Name" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="birthDate">Date of Birth: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="date"
								id="birthDate"
								th:field="*{birthDate}" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="address">Address: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="text"
								id="address"
								th:field="*{address}"
								placeholder="Address" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="city">City: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="text"
								id="city"
								th:field="*{city}"
								placeholder="City" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="state">State: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="text"
								id="state"
								th:field="*{state}"
								placeholder="State" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="zipCode">Zip Code: </label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="text"
								id="zipCode"
								th:field="*{zipCode}"
								placeholder="ZIP Code" />
						</div>
					</div>
				</div>
				<br />
				<button class="btn btn-primary" type="submit">Create</button>
			</form>
		</div>
	</body>
</html>
