<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>New Account</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <header>
        <nav class="bg-secondary navbar-center">
            <ul class="tab tab-block">
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/accounts}">Accounts</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/transactions}">Transactions</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/employees}">Employees</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/customers}">Customers</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/products}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="new_account">
        <form class="form-horizontal" th:action="@{/accounts}" th:object="${account}" method="POST">
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="availableBalance">Available Balance: </label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="number" id="availableBalance" name="availableBalance"
                        th:field="${account.availableBalance}" placeholder="Available Balance">
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="pendingBalance">Pending Balance:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="number" id="pending_balance" name="pending_balance"
                        th:field="${account.pendingBalance}" placeholder="Pending Balance">
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="openDate">Open Date:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="date" id="open_date" name="open_date" th:field="${account.openDate}"
                        placeholder="Open Date">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="lastActivityDate">Last Activity Date:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="date" id="last_activity_date" name="last_activity_date"
                        th:field="${account.lastActivityDate}" placeholder="Last Activity Date">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="status">Status:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="status" name="status" th:field="${account.status}"
                        placeholder="Status">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="customerID">Customer ID:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="customer_id" name="customer_id"
                        th:field="${account.customer.id}" placeholder="Customer ID">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="branch">Branch:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <label class="form-radio">
                        <input type="radio" name="branch" title="headquarters">
                        <em class="form-icon"></em>Headquarters
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="branch" title="woburn branch">
                        <em class="form-icon"></em>Woburn
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="branch" title="quincy branch">
                        <em class="form-icon"></em>Quincy
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="branch" title="south nh branch">
                        <em class="form-icon"></em>South NH
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="employeeID">Employee ID:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" id="employee_id" name="employee_id"
                        th:field="${account.employee.id}" placeholder="Employee ID">
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="product">Product:</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" list="products" name="product" id="product"
                        th:field="${account.product.name}" placeholder="Product">
                    <datalist id="products">
                        <option value="Auto Loan">
                        <option value="Business Line of Credit">
                        <option value="Certificate of Deposit">
                        <option value="Checking Account">
                        <option value="Money Market Account">
                        <option value="Home Mortgage">
                        <option value="Savings Account">
                        <option value="Small Business Loan">
                    </datalist>
                </div>
            </div>
            <br>
            <button class="ui primary button" type="submit">Create</button>
    </div>
    </form>
    </div>
    <script type="text/javascript" th:src="@{/js/semantic.js}"></script>
</body>

</html>