<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>New Transaction</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
	</head>

	<body>
		<header>
			<nav class="bg-secondary navbar-center">
				<ul class="tab tab-block">
					<li class="tab-item">
						<a class="text-primary" th:href="@{/home}">Home</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/accounts}">Accounts</a>
					</li>
					<li class="tab-item active">
						<a class="text-primary" th:href="@{/transactions}">Transactions</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/employees}">Employees</a>
					</li>
					<li class="tab-item">
						<a class="text-primary" th:href="@{/customers}">Customers</a>
					</li>
					<li class="tab-item" sec:authorize="isAuthenticated()">
						<a class="text-primary" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</nav>
		</header>
		<div id="new_transaction">
			<form
				class="form-horizontal m-2 pt-3"
				th:action="@{/transactions/new/account/{account}(account=${account.id})}"
				th:object="${transaction}"
				method="POST">
				<h2 class="text-center">Create New Transaction</h2>
				<div class="divider"></div>
				<br />
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="column col-3 col-sm-12">
							<label class="form-label" for="account">Account:</label>
						</div>
						<div class="column col-9 col-sm-12">
							<input
								class="form-input"
								type="number"
								id="account"
								name="account"
								th:field="*{account.id}"
								placeholder="Account ID" />
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="column col-3 col-sm-12">
							<label class="form-label" for="funds_available_date"
								>Funds Available Date:</label
							>
						</div>
						<div class="column col-9 col-sm-12">
							<input
								class="form-input"
								type="date"
								id="funds_available_date"
								name="fundsAvailableDate"
								th:field="*{fundsAvailableDate}"
								th:classappend="${#fields.hasErrors('fundsAvailableDate') ? 'is-error' : ''}" />
						</div>
						<div class="column col-12">
							<p
								th:if="${#fields.hasErrors('fundsAvailableDate')}"
								th:errors="*{fundsAvailableDate}"
								class="form-input-hint text-error"
								id="fundsAvailableDateHint"></p>
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="type">Transaction Type:</label>
						</div>
						<div class="col-9 col-sm-12">
							<label class="form-radio">
								<input
									type="radio"
									th:field="*{type}"
									th:value="Deposit"
									checked />
								<em class="form-icon"></em>Deposit
							</label>
							<label class="form-radio">
								<input type="radio" th:field="*{type}" th:value="Withdrawal" />
								<em class="form-icon"></em>Withdrawal
							</label>
						</div>
					</div>
				</div>
				<div class="column col-12 py-2">
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label class="form-label" for="amount">Amount:</label>
						</div>
						<div class="col-9 col-sm-12">
							<input
								class="form-input"
								type="number"
								id="amount"
								name="amount"
								th:field="*{amount}" />
						</div>
						<div class="column col-12">
							<p
								th:if="${#fields.hasErrors('amount')}"
								th:errors="*{amount}"
								class="form-input-hint text-error"
								id="amountHint"></p>
						</div>
					</div>
				</div>
				<br />
				<button class="btn btn-primary" type="submit">
					Submit Transaction
				</button>
			</form>
		</div>
	</body>
</html>
