<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Customer Accounts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <header>
        <nav class="bg-secondary navbar-center">
            <ul class="tab tab-block">
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/accounts}">Accounts</a>
                </li>
                <li class="tab-item active">
                    <a class="text-primary" th:href="@{/transactions}">Transactions</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/employees}">Employees</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/customers}">Customers</a>
                </li>
                <li class="tab-item">
                    <a class="text-primary" th:href="@{/products}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="transactions">
        <h1 class="text-center">Accounts for Customer <span th:text="${account.customer.id}"></span></h1>
        <table class="table text-center table-striped table-hover">
            <thead>
                <tr class="text-center text-upercase">
                    <th>Account ID</th>
                    <th>Available Balance</th>
                    <th>Pending Balance</th>
                    <th>Open Date</th>
                    <th>Last Activity Date</th>
                    <th>Branch</th>
                    <th>Employee ID</th>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" th:each="account : ${caccounts}">
                    <td th:text="${account.id}"></td>
                    <td th:text="${#numbers.formatCurrency(account.availableBalance)}"></td>
                    <td th:text="${#numbers.formatCurrency(account.pendingBalance)}"></td>
                    <td th:text="${#dates.format(account.openDate, 'MM-dd-yyyy')}"></td>
                    <td th:text="${#dates.format(account.lastActivityDate, 'MM-dd-yyyy')}"></td>
                    <td th:text="${account.branch.name}"></td>
                    <td th:text="${account.employee.id}"></td>
                    <td th:text="${account.product.name}"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="divider"></div>
        <div th:if="${totalPages > 1}" class="text-center">
            <ul class="pagination">
                <li class="page-item column col-sm-12">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}"
                            th:href="@{'/transactions/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>