<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head th:fragment="head-fragment">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <title>Login</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <h3>Employee Login</h3>
            <form class="form-horizontal m-2 pt-3" th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <input type="text" id="username" name="username" class="form-input" placeholder="Username"
                            autofocus="autofocus">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <input type="password" id="password" name="password" class="form-input" placeholder="Password"
                            autofocus="autofocus">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-checkbox">
                        <input type="checkbox" title="remember-me" name="remember-me">
                        <em class="form-icon"></em>Remember Me
                    </label>


                </div>
                <div class="form-group">
                    <div class=" col-12 col-sm-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </form>
            <a th:href="@{/register}">New user? Register here.</a>
        </div>
    </div>
    <div layout:fragment="footer">
        <div class="container">
            <p class="text-center text-uppercase text-muted">&copy; Michaela Drummonds, 2022</p>
            <p class="text-center text-muted">Styled by &copy;Spectre.CSS</p>
        </div>
    </div>
</body>

</html>