<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Customers</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
	</head>

	<body>
		<header class="navbar bg-secondary">
			<section class="navbar-section">
				<ul class="nav">
					<li class="nav-item">
						<a class="btn btn-link text-primary" th:href="@{/home}">Home</a>
					</li>
				</ul>
			</section>
			<section class="navbar-section">
				<ul class="nav">
					<li class="nav-item">
						<a class="btn btn-link text-primary" th:href="@{/accounts}"
							>Accounts</a
						>
					</li>
				</ul>
			</section>
			<section class="navbar-section">
				<ul class="nav">
					<li class="nav-item">
						<a class="btn btn-link text-primary" th:href="@{/transactions}"
							>Transactions</a
						>
					</li>
				</ul>
			</section>
			<section class="navbar-section">
				<ul class="nav">
					<li class="nav-item">
						<a class="btn btn-link text-primary" th:href="@{/employees}"
							>Employees</a
						>
					</li>
				</ul>
			</section>
			<section class="navbar-section">
				<ul class="nav">
					<li class="nav-item active">
						<a class="btn btn-link text-primary" th:href="@{/customers}"
							>Customers</a
						>
					</li>
				</ul>
			</section>
			<section class="navbar-section">
				<ul class="nav">
					<li class="nav-item">
						<a class="btn btn-link text-primary" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</section>
		</header>
		<div class="container">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a th:href="@{/customers}" disabled>Customers</a>
				</li>
				<li class="breadcrumb-item">
					<a th:href="@{/customers/new}" disabled>Create Customer</a>
				</li>
				<li class="breadcrumb-item">
					<a th:href="@{/customers/save}">Options</a>
				</li>
			</ul>
			<p>
				<strong
					th:text="${customer.firstName} + ' ' + ${customer.lastName}"></strong>
				with Customer ID <strong th:text="${customer.id}"></strong>
				has been saved.
			</p>
			<p>
				Next, continue to create
				<a th:href="@{/accounts/new}">a new account</a> or
				<a th:href="@{/customers}">view all customers</a>.
			</p>
		</div>
		<footer th:insert="fragments/general.html :: footer"></footer>
	</body>
</html>
